@use 'sass:map';
@use '../../../../../scss/base/variables';
@use '../../../../../scss/base/_mixinsfunc';

// Variables de colores y tipografía para reutilizar
$color-info-background: variables.$primary-dark;
$design-font-size: 2rem;
$dev-font-size: 1rem;
$letter-spacing: 2px;
$font-weight-bold: 900;

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 7;
  padding: 1rem;
  background: linear-gradient(180deg, variables.$color-primary 0%, variables.$primary-dark 70%);


  .design,
  .dev {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    object-fit: contain;

    p {
      font-size: $dev-font-size;
      color: variables.$primary-bright;
      line-height: 2rem;
      text-align: start;
      display: none;
    }
  }

  // .design - Estilo específico para diseño
  .design {
    flex-direction: row;
    justify-content: center;

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }

  // .dev - Estilo específico para desarrollo

}

@include mixinsfunc.respond-to("tablet",1023px) {
  .info {
    flex-direction: row;
    .design {
      span {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

  }
}

@include mixinsfunc.respond-to("desktop") {
    .info {
      .design {
        .videoContainer {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          video {
            width: 40vh;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
          }
          .toggleButton {
            display: flex;
            justify-content: start;
            align-items: center;
          background-image:url('/image/botonaudio.png');
          background-size: cover;
          background-position: center;
            color: variables.$primary-bright;
            font-weight: 700;
            border: none;
            width: 200px;
            height: 50px;
            cursor: pointer;
            font-size: 1.2rem;
            border-radius: 5px;
            transition: background-color 0.3s;
            transition: transform 0.3s ease, opacity 0.3s ease;
            margin-bottom: 20px;
            p {
              width: 50%;  /* Esto asegura que el texto ocupe solo el 50% del ancho */
              margin: 0;    /* Elimina márgenes para que el texto ocupe correctamente el 50% */
              text-align: center; /* Alinea el texto en el centro del área asignada */
            }
            &:hover {
            transform: scale(1.1);
            opacity: 0.8;
       
            }
          }
          
        }
        .text {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h1 {
            text-transform: capitalize;
            font-size: 3.5rem;
            letter-spacing: $letter-spacing;
            font-weight: $font-weight-bold;
            color: variables.$secondary;
            margin-bottom: 20px;
          }

          p{

            display: block;
            font-size: 1.5rem;
            line-height: 3rem;
          }
        }
      }
    }
  }