@use 'sass:map';
@use './_variables.scss';
@use './_mixinsfunc.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  color: variables.$primary-bright;
  font-family: 'Segoe UI Variable', sans-serif;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}



section {
  width: 100%;
  height: 100dvh;
  background: variables.$primary-dark;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
  color: variables.$primary-bright;
}
