/* Breackpoints */

$breakpoints: (
  'mobile': 390px,
  'tablet': 768px,
  'desktop': 1220px,
  'widescreen': 1440px
);

/* Colors */

$primary-bright: #fff;
$primary-dark: #000;
$primary-dim: #888889;
$background-dim: #08090a;
$background-dim2: #0e0f11;

$color-primary: #5d0411;
$color-primary-dim: #5d041179;
$secondary: #e0ba21;
$secondary-dim: #7feaff9a;


