@use 'sass:map';
@use '../../../../../scss/base/variables';
@use '../../../../../scss/base/_mixinsfunc.scss';
@use '../../../../../scss/animations/animations';

// Placeholder para estilos compartidos
%base-interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 30px;
  z-index: 9999;
  overflow: hidden;
  h1 {
    color: variables.$secondary;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}

%base-img {
  position: absolute;
  right: -22rem;
  width: 100vh;
  height: 100vh;
  object-fit: cover;
  border-radius: 20px;
}

%base-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(0deg, variables.$color-primary 0%, variables.$primary-dark 70%);
  opacity: 0.5;
  pointer-events: none;
}

// Estilos principales
.skills {
  padding: 0 60px;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;

  .interest {
    @extend %base-interest;
  }

  img {
    @extend %base-img;
    opacity: 0.5;
  }

  .overlay {
    @extend %base-overlay;
  }
}

// Breakpoints
@include mixinsfunc.respond-to('tablet', 1023px) {
  .skills {
    padding: 0 20px;

    .interest {
      ul li {
        font-size: 1.5rem;
      }
    }
  }
}

@include mixinsfunc.respond-to('desktop') {
  .skills {
    padding: 0 60px;

    .interest {
      @extend %base-interest;
      padding: 0 50px;
      ul li {
        font-size: 1.5rem;
      }
    }

    img {
      position: relative;
      right: 0;
      opacity: 1;
    }

    .overlay {
      @extend %base-overlay;
    }
  }
}
